body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    background: url(Images/cloud4_1600x600.png);
    height: 100vh;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: animate 80s infinite;
}
@keyframes animate
{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#header{
    width: 100%;
    background-color: #004d66;
    color: white;
    box-shadow: 0 3px 0 0 #00e6e6;
    height: 75px;
    font-size: 44px;
    padding-top: 5px;
    padding-left: 5px;
}
i#description_icon {
    font-size: 35px;
}

input[type="submit"]{
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #004d66;
    background: #2ecc71;
    padding: 14px 40px;
    cursor: pointer;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
input[type="submit"]:hover{
    background:#8adfad;
}
.table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #2ecc71;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #004d66;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

@media (min-width:768px)
{
    .table-wrapper {
        margin: 25px 70px;
    }
}